/* Regular heading */
@font-face {
    font-family: 'Crete Round Regular';
    src: url('../fonts/creteround-regular-webfont.eot');
    src: url('../fonts/creteround-regular-webfont.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/creteround-regular-webfont.woff') format('woff'),
	 url('../fonts/creteround-regular-webfont.ttf') format('truetype'),
	 url('../fonts/creteround-regular-webfont.svg#crete_roundregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Regular body */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light-webfont.eot');
    src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/Roboto-Light-webfont.woff') format('woff'),
	 url('../fonts/Roboto-Light-webfont.ttf') format('truetype'),
	 url('../fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Italic body */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-LightItalic-webfont.eot');
    src: url('../fonts/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/Roboto-LightItalic-webfont.woff') format('woff'),
	 url('../fonts/Roboto-LightItalic-webfont.ttf') format('truetype'),
	 url('../fonts/Roboto-LightItalic-webfont.svg#robotolight_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

/* Bold body */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
	 url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
	 url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* Regular mono */
@font-face {
    font-family: 'Liberation Mono';
    src: url('../fonts/LiberationMono-Regular-webfont.eot');
    src: url('../fonts/LiberationMono-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/LiberationMono-Regular-webfont.woff') format('woff'),
    url('../fonts/LiberationMono-Regular-webfont.ttf') format('truetype'),
    url('../fonts/LiberationMono-Regular-webfont.svg#liberation_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
	width: 100%;
	height: 100%;
}

body {
	padding-top: 50px;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 150%;
	color: rgb(199, 222, 245);
}

body, .page {
	background-color: rgb(39, 44, 52);
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Crete Round Regular', Georgia, serif;;
	color: rgb(13, 201, 170);
	margin-top: 0px;
}

a {
	color: rgb(13, 201, 170);
}

a:hover, a:focus {
	color: rgb(199, 222, 245);
	text-decoration: none;
}

.page {
	padding: 60px 20px 60px 20px;
}

.page-light {
	padding: 60px 20px 60px 20px;
	background-color: rgb(74, 84, 92);
}

.container {
	font-size: 140%;
}


.navbar,
.navbar .dropdown-menu {
	background-color: rgb(51, 57, 64);
}

.navbar {
	font-size: 130%;
}

.navbar .dropdown-menu {
	font-size: 100%;
	min-width: 145px;
}

.navbar .dropdown-menu a {
	color: rgb(199, 222, 245);
}

.navbar .navbar-brand {
	font-family: 'Crete Round Regular', Georgia, serif;;
	font-size: 120%;
	color: rgb(13, 201, 170);
	background-color: rgb(27, 30, 33);
	padding-left: 30px;
	padding-right: 30px;
}

.navbar .active {
	background-color: rgb(35, 39, 43);
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background-color: rgb(35, 39, 43);
  border-color: rgb(35, 39, 43);
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
	color: rgb(11, 163, 138);
}

.navbar .navbar-nav > li > a {
	color: rgb(199, 222, 245);
	padding-left: 30px;
	padding-right: 30px;
}

.navbar .navbar-nav > li.icon > a {
	padding-left: 20px;
	padding-right: 20px;
}

ul.nav.navbar-nav.navbar-right {
	margin-right: 5px;
}

@media (max-width: 1075px) {
	ul.nav.social li.icon {
		display: none;
	}
}

.nav > li > a:hover,
.nav > li > a:focus,
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li.dropdown a:hover,
.navbar .navbar-nav > li.dropdown a:focus {
	color: rgb(170, 189, 209);
	background-color: rgb(37, 41, 46);   /* fallback */
	background-color: rgba(0, 0, 0, .1);
}

.navbar-fixed-top {
	border: 0px;
}

.no-js .navbar button.navbar-toggle,
.navbar a.blog {
	display: none;
}

@media (max-width: 879px) {
	.no-js .navbar a.blog {
		float: right;
		display: inline-block;
		color: rgb(199, 222, 245);
		padding: 15px 30px;
		line-height: 20px;
	}
	.no-js .navbar a.blog:hover,
	.no-js .navbar a.blog:focus {
		color: rgb(170, 189, 209);
		background-color: rgb(37, 41, 46);   /* fallback */
		background-color: rgba(0, 0, 0, .1);
	}
}

.navbar .icon-bar {
	background-color: rgb(199, 222, 245);
}

.highlight {
	color: rgb(13, 201, 170);
}

.face {
	margin: 0 auto;
	border: 5px solid rgb(35, 39, 43);
}

#home {
	font-size: 250%;
	text-align: center;
}

@media (min-width: 992px) {
	div#home {
		min-height: 400px;
	}
}

@media (min-width: 992px) {
	.welcome {
		top: 100px;
	}
}

.indent {
	padding-left: 30px;
}

.footer {
	 color: rgb(170, 189, 209);
	font-size: 100%;
	text-align: center;
	margin: 20px 0;
}

.school .footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}

.projects {
	margin-top: 20px;
}

body.home .thumbnail,
body.home .thumbnail .caption {
	background-color: rgb(74, 84, 92);
	border: 0px;
	color: rgb(199, 222, 245);
}

body.home .thumbnail img:hover {
	opacity:0.8;
	filter:alpha(opacity=80);
}

.navbar > a.blog404:hover,
.navbar > a.blog404:focus {
	color: rgb(170, 189, 209);
	background-color: rgb(37, 41, 46);   /* fallback */
	background-color: rgba(0, 0, 0, .1);
}

.fourohfour .page > .row {
	margin-top: 100px;
}
