html {
	width: 100%;
	height: 100%;
}

body {
	padding-top: 50px;
	font-family: 'Mako', sans-serif;
	font-size: 150%;
	color: rgb(199, 222, 245);
}

body, .page {
	background-color: rgb(45, 51, 56);
}

.page {
	padding: 60px 20px 60px 20px;
	font-size: 170%;
}

.page-light {
	background-color: rgb(60, 62, 68);
}

.navbar {
	background-color: rgb(51, 57, 64);
	font-size: 130%;
}

.navbar .navbar-brand {
	font-family: 'Questrial', sans-serif;
	font-size: 130%;
	color: rgb(13, 201, 170);
	background-color: rgb(27, 30, 33);
	padding-left: 30px;
	padding-right: 30px;
}

.navbar .active {
	background-color: rgb(35, 39, 43);
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
	color: rgb(11, 163, 138);
}

.navbar .navbar-nav > li > a {
	color: rgb(199, 222, 245);
	padding-left: 30px;
	padding-right: 30px;
}

.nav > li > a:hover,
.nav > li > a:focus,
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
	color: rgb(170, 189, 209);
	background-color: rgb(37, 41, 46);   /* fallback */
	background-color: rgba(0, 0, 0, .1);
}

.navbar .icon-bar {
	background-color: rgb(199, 222, 245);
}

.highlight {
	color: rgb(13, 201, 170);
}

.face {
	margin: 0 auto;
}

#home {
	font-size: 250%;
	text-align: center;
}
