html {
	width: 100%;
	height: 100%;
}

body {
	padding-top: 50px;
	font-family: 'Mako', sans-serif;
	font-size: 150%;
	color: rgb(199, 222, 245);
}

body, .page {
	background-color: rgb(45, 51, 56);
}

h2 {
	font-family: 'Fauna One', serif;
	color: rgb(13, 201, 170);
	margin-top: 0px;
}

a {
	color: rgb(13, 201, 170);
}

a:hover, a:focus {
	color: rgb(199, 222, 245);
	text-decoration: none;
}

.page {
	padding: 60px 20px 60px 20px;
}

.page-light {
	padding: 60px 20px 60px 20px;
	background-color: rgb(74, 84, 92);
}

.container {
	font-size: 140%;
}

.navbar {
	background-color: rgb(51, 57, 64);
	font-size: 130%;
}

.navbar .navbar-brand {
	font-family: 'Questrial', sans-serif;
	font-size: 120%;
	color: rgb(13, 201, 170);
	background-color: rgb(27, 30, 33);
	padding-left: 30px;
	padding-right: 30px;
}

.navbar .active {
	background-color: rgb(35, 39, 43);
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
	color: rgb(11, 163, 138);
}

.navbar .navbar-nav > li > a {
	color: rgb(199, 222, 245);
	padding-left: 30px;
	padding-right: 30px;
}

.navbar .navbar-nav > li.icon > a {
	padding-left: 20px;
	padding-right: 20px;
}

ul.nav.navbar-nav.navbar-right {
	margin-right: 5px;
}

@media (max-width: 1075px) {
	ul.nav.social li.icon {
		display: none;
	}
}

.nav > li > a:hover,
.nav > li > a:focus,
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
	color: rgb(170, 189, 209);
	background-color: rgb(37, 41, 46);   /* fallback */
	background-color: rgba(0, 0, 0, .1);
}

.navbar-fixed-top {
	border: 0px;
}

.no-js .navbar button.navbar-toggle,
.navbar a.blog {
	display: none;
}

@media (max-width: 879px) {
	.no-js .navbar a.blog {
		float: right;
		display: inline-block;
		color: rgb(199, 222, 245);
		padding: 15px 30px;
		line-height: 20px;
	}
	.no-js .navbar a.blog:hover,
	.no-js .navbar a.blog:focus {
		color: rgb(170, 189, 209);
		background-color: rgb(37, 41, 46);   /* fallback */
		background-color: rgba(0, 0, 0, .1);
	}
}

.navbar .icon-bar {
	background-color: rgb(199, 222, 245);
}

.highlight {
	color: rgb(13, 201, 170);
}

.face {
	margin: 0 auto;
	border: 5px solid rgb(35, 39, 43);
}

#home {
	font-size: 250%;
	text-align: center;
}

@media (min-width: 992px) {
	.welcome {
		top: 100px;
	}
}

.indent {
	padding-left: 30px;
}

.footer {
	 color: rgb(170, 189, 209);
	font-size: 100%;
	text-align: center;
	margin: 20px 0;
}

.projects {
	margin-top: 20px;
}

.thumbnail,
.thumbnail .caption {
	background-color: rgb(74, 84, 92);
	border: 0px;
	color: rgb(199, 222, 245);
}

.thumbnail img:hover {
	opacity:0.8;
	filter:alpha(opacity=80);
}

.navbar > a.blog404 {
	float: right;
	display: inline-block;
	color: rgb(199, 222, 245);
	padding: 15px 30px;
	line-height: 20px;
}

.navbar > a.blog404:hover,
.navbar > a.blog404:focus {
	color: rgb(170, 189, 209);
	background-color: rgb(37, 41, 46);   /* fallback */
	background-color: rgba(0, 0, 0, .1);
}

.fourohfour .page > .row {
	margin-top: 100px;
}

.fourohfour .navbar-header:after,
.fourohfour .navbar-header:before {
	clear: none;
}
